SECRET_KEY=7c0d2e2f35e020ec485f18271ca26451
AZURE_OPENAI_API_KEY=99pNnIIEnYGr7klUx9lre5slwp1AJ2WvjJJrtQsAHlvTBpQF7vZBJQQJ99BFACHYHv6XJ3w3AAAAACOG6WvB
AZURE_OPENAI_API_VERSION=2024-06-01
AZURE_OPENAI_ENDPOINT=https://deepi-mbm2wweg-eastus2.cognitiveservices.azure.com
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_IMAGE_DEPLOYMENT=dall-e-3



